.panel-grid {
  zoom: 1;
}
.panel-grid:before {
  content: '';
  display: block;
}
.panel-grid:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1em;
}
.panel-grid-cell .so-panel {
  zoom: 1;
}
.panel-grid-cell .so-panel:before {
  content: '';
  display: block;
}
.panel-grid-cell .so-panel:after {
  content: '';
  display: table;
  clear: both;
}
.panel-grid-cell .panel-last-child {
  margin-bottom: 0;
}
.panel-grid-cell .widget-title {
  margin-top: 0;
}
.panel-row-style {
  zoom: 1;
}
.panel-row-style:before {
  content: '';
  display: block;
}
.panel-row-style:after {
  content: '';
  display: table;
  clear: both;
}
#pg-1642-0, #pg-1642-1, #pg-1642-2, #pg-1642-3, #pg-1642-4, #pg-1642-5, #pg-1642-6 {
    margin-left: -15px;
    margin-right: -15px;
}
#pg-1642-0 .panel-grid-cell, #pg-1642-1 .panel-grid-cell, #pg-1642-2 .panel-grid-cell, #pg-1642-3 .panel-grid-cell, #pg-1642-4 .panel-grid-cell, #pg-1642-5 .panel-grid-cell, #pg-1642-6 .panel-grid-cell {
    padding-left: 15px;
    padding-right: 15px;
}
#pg-1642-0, #pg-1642-1, #pg-1642-2, #pg-1642-3, #pg-1642-4, #pg-1642-5, #pl-1642 .panel-grid-cell .so-panel, #pl-1642 .panel-grid-cell .so-panel:last-child {
    margin-bottom: 0px;
}
#pg-1642-1 .panel-grid-cell, #pg-1642-4 .panel-grid-cell, #pg-1642-6 .panel-grid-cell {
    float: left;
}
#pgc-1642-1-0 {
    width: 32.391%;
}
#pgc-1642-1-1 {
    width: 32.173%;
}
#pgc-1642-1-2 {
    width: 35.436%;
}
#pgc-1642-4-0, #pgc-1642-4-1 {
    width: 50%;
}
#pgc-1642-6-0 {
    width: 38.452%;
}
#pgc-1642-6-1 {
    width: 61.548%;
}