<div class="row attraction attraction--a attraction--a--reverse mv-homeRow has-pin js-scrollHide">
    <div class="mv-homeRow-content">
       <div class="well well--l">
          <h1 class="mv-homeRow-text">Bạn muốn học gì hôm nay ?</h1>
          <div class="mbm">
             <form accept-charset="UTF-8" action="https://www.codeschool.com/search" class="has-searchInput" method="get">
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                <input id="loc" name="loc" type="hidden" value="hero">
                <div class="searchInput-icon">
                   <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input autocomplete="off" autofocus="autofocus" class="searchInput js-autotypeInput" id="search-field" name="query" type="text">
             </form>
          </div>
          <ul class="list list--inlineFlex list--inlineFlex--xs list--inlineFlex--m--s dn dif--s fxaib tal--m ts90 ts95--m">
             <li class="list-item list-item--label label optq tci">Khuyến nghị:</li>
             <li class="list-item"><a href="https://www.codeschool.com/search?loc=hero&amp;query=html" class="tag tag--invert ttn optq opf-h">HTML</a></li>
             <li class="list-item"><a href="https://www.codeschool.com/search?loc=hero&amp;query=javascript" class="tag tag--invert ttn optq opf-h">JavaScript</a></li>
             <li class="list-item"><a href="https://www.codeschool.com/search?loc=hero&amp;query=angular" class="tag tag--invert ttn optq opf-h">Angular</a></li>
             <li class="list-item"><a href="https://www.codeschool.com/search?loc=hero&amp;query=react" class="tag tag--invert ttn optq opf-h">React</a></li>
             <li class="list-item"><a href="https://www.codeschool.com/search?loc=hero&amp;query=node.js" class="tag tag--invert ttn optq opf-h">Node</a></li>
             <li class="list-item"><a href="https://www.codeschool.com/learn" class="tag tag--invert tag--invert--full ttn">Browse Courses</a></li>
          </ul>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="cell cell--xl well well--xl">
       <div class="tac">
          <h3 class="h h--1">Khám phá tất cả các Khóa Học của chúng tôi</h3>
          <div class="cell cell--xs">
            <p class="mbl">Lập trình Di động, Lập trình Web, Lập trình Phần mềm .Học miễn phí qua kinh nghiệm của các Chuyên gia.
            </p>
          </div>
       </div>
       <div class="mv-flexGrid mv-flexGrid--s mv-flexGrid--center collection collection--center collection--s mbl">
          <div class="mv-flexGrid-box mv-flexGrid-box--3of6_l collection-item" ng-repeat="category in listSubCategory | filter:{ type: 0 }">
             <div class="card card--a card--f path fx fxaic">
                <a ng-href="#/learn/[[getText(category.name)]]/[[category.id]]">
                   <div class="bucket bucket--flag path-bucket">
                      <div class="bucket-media">
                         <div class="badge mbm mbf--m mhc mhf--m">
                            <img alt="HTML/CSS Path Badge" class="badge-img" height="100" ng-src="[[category.link_icon]]" width="100">
                         </div>
                      </div>
                      <div class="bucket-content">
                         <h2 class="h h--2 path-title">
                            <span class="link path-title-link twl">[[category.name]]</span>
                            <span class="mlxs tcs tsxxs">12 courses</span>
                         </h2>
                         <p class="mbf tct tss twl js-orphan">[[category.description]]</p>
                      </div>
                   </div>
                </a>
             </div>
          </div>          
       </div>
    </div>
 </div>



 <div class="row row--a bdrt">
    <div class="cell cell--s well ptl">
       <h3 class="tac">Codeschool hiện nay cung cấp danh sách các khóa học được sắp xếp về nội dung để giúp bạn tìm hiểu cách thức khác nhau công nghệ làm việc cùng nhau.</h3>
    </div>
    <div class="cell cell--m well pbl">
       <a href="https://www.codeschool.com/learn-angular-js-with-bootstrap" ng-repeat="category in listSubCategory | filter:{ type: 1 }">
          <div class="mv-flexBucket mv-flexBucket--flag bdr mtl ram">
             <div class="mv-flexBucket-media dn db--m pam attraction attraction--c rblm rtlm">
                <img alt="Build an Interactive Website" ng-src="[[category.link_icon]]" width="100">
             </div>
             <div class="mv-flexBucket-content pam">
                <div class="mv-flexBucket mv-flexBucket--flag mv-flexBucket--m--responsive">
                   <div class="mv-flexBucket-content">
                      <span class="label">Curated Content</span>
                      <h3 class="course-title link twl">[[category.name]]</h3>
                      <p class="course-tagline twl tct">[[category.description]]</p>
                   </div>
                   <div class="mv-flexBucket-media tac--m w-160--m">
                      <div class="btn btn--a">View Content</div>
                   </div>
                </div>
             </div>
          </div>
       </a>


      
     <!--   <a href="https://www.codeschool.com/mean">
          <div class="mv-flexBucket mv-flexBucket--flag bdr mtl ram">
             <div class="mv-flexBucket-media dn db--m pam attraction attraction--c rblm rtlm">
                <img alt="Build an Interactive Website" ng-src="[[static_domain]]/index/icon-3.svg" width="100">
             </div>
             <div class="mv-flexBucket-content pam">
                <div class="mv-flexBucket mv-flexBucket--flag mv-flexBucket--m--responsive">
                   <div class="mv-flexBucket-content">
                      <span class="label">Curated Content</span>
                      <h3 class="course-title link twl">The MEAN Stack</h3>
                      <p class="course-tagline twl tct">MEAN is a collection of JavaScript-based technologies — MongoDB, Express.js, AngularJS, and Node.js — used to develop web applications.</p>
                   </div>
                   <div class="mv-flexBucket-media tac--m w-160--m">
                      <div class="btn btn--a">View Content</div>
                   </div>
                </div>
             </div>
          </div>
       </a> -->
    </div>
 </div>


 <div class="row">
    <div class="well well--xl">
       <div class="cell cell--s mbl mbxl--m tac">
          <h2 class="h h--1">Sứ mệnh phục vụ</h2>
          <div class="cell cell--xs">
             <p class="mbf">
                Code School đã tác động hơn một triệu sinh viên đến từ 237 quốc gia. Đọc cách những sinh viên vừa học vừa làm với các khóa học và screencasts Code School.
             </p>
          </div>
       </div>
       <div class="cell cell-l">
          <div class="g g--l">
             <div class="g-b g-b--m--1of2 g-b--l--1of3 mbm mbf--l">
                <div class="tss">
                   <p class="quotation quotation--light">
                     "Tôi chưa bao giờ cố gắng để tìm hiểu mã trước vì sợ rằng tôi không phải là 
                    'đủ hay giận' và có lẽ không đủ thông minh - Tôi là một 
                    Mathlete, nhưng tôi đã dành hầu hết thời gian làm nguệch ngoạc của tôi với DRAW 
                    chức năng của TI89 tôi. Mỗi khi tôi hoàn thành một bài học luật học, tôi 
                    cảm thấy như tôi chứng minh rằng sợ sai. Tôi thực sự đánh giá cao bạn làm cho một 
                    nguồn tài nguyên tiếp cận. "
                   </p>
                   <div class="bucket bucket--flag mtm">
                      <div class="bucket-media badge badge--80">
                         <img alt="Anne Bertucio" class="ra badge-img" ng-src="[[static_domain]]/index/testimonial-anne-bertucio.jpg" width="60">
                      </div>
                      <div class="bucket-content">
                         <h5 class="h h--4 twn">Anne Bertucio</h5>
                      </div>
                   </div>
                </div>
             </div>
             <div class="g-b g-b--m--1of2 g-b--l--1of3 mbm mbf--l">
                <div class="tss">
                   <p class="quotation quotation--light">
                      "Code School đã cung cấp cho tôi những kiến ​​thức cơ bản tôi cần phải bắt đầu lên kế hoạch cho các ứng dụng web của riêng tôi. Tôi đam mê lập trình, và thực sự bắt đầu sự nghiệp trong Ruby on Rails phát triển nhờ vào Code School. Giải quyết vấn đề và làm cho cuộc sống dễ dàng hơn với mã thực sự thú vị. Cảm ơn cho việc cung cấp nguyên liệu tuyệt vời và làm cho một sự thay đổi thực sự trong cuộc sống của mọi người! "
                   </p>
                   <div class="bucket bucket--flag mtm">
                      <div class="bucket-media badge badge--80">
                         <img alt="Matt Orahood" class="ra badge-img" ng-src="[[static_domain]]/index/testimonial-matt-orahood.jpg" width="60">
                      </div>
                      <div class="bucket-content">
                         <h5 class="h h--4 twn">Matt Orahood</h5>
                      </div>
                   </div>
                </div>
             </div>
             <div class="g-b g-b--m--1of2 g-b--l--1of3">
                <div class="tss">
                   <p class="quotation quotation--light">
                      "Code School cho phép tôi rời khỏi công việc cụt của tôi 11 năm và tìm thấy một công việc tuyệt vời là một nhà phát triển front-end / UI. Tôi vẫn còn giữ đăng ký của tôi hoạt động và tận hưởng sự đa dạng của các khóa học bạn cung cấp. Biết ơn đối với các trang web như thế này mà dạy cho mọi người kỹ năng thực tế trong một thị trường mà là rất cao trong nhu cầu. "
                   </p>
                   <div class="bucket bucket--flag mtm mtl--l">
                      <div class="bucket-media badge badge--80">
                         <img alt="James Olguin" class="ra badge-img" ng-src="[[static_domain]]/index/testimonial-james-olguin.jpg" width="60">
                      </div>
                      <div class="bucket-content">
                         <h5 class="h h--4 twn">James Olguin</h5>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>